[2021-12-24 19:05] 78Peace78 commented on #177
Ok

[2021-12-30 17:19] digitalml opened #180 "Aggregates (Per Second) Websocket Data (OHLC) doesn't match other Polygon data."
**Client**
Which WebScoket client are using?
I am using the Aggregates (Per Second) Websocket.

**Issue**
If I take all the streamed data from the per second websocket for 1 minute of time and compare the data to the REST and Websocket Aggregate Bar 1 minute endpoints the OHLC values for the given time frame don't match. An example would be for IMTE today at 8:34am (PST). The  REST and Websocket A

[2021-12-30 23:55] clayscode commented on #169
I've also noticed this. Comparing data to other brokers, volume numbers are somewhat lower on Polygon.

[2021-12-31 15:39] digitalml commented on #180
I was asked to provide more info on this issue by Jack so I'll post that here for posterity.

This happens with A.* or with A.SYMBL and can be reproduced at any time.

I've created another sample of data for todays runner NTRB. This shows the A.* data for NTRB for a 1 minute period and compared to the 1 minute REST / Websocket data. The OPEN, HIGH, and LOW data is all incorrect. The CLOSE matches.

[2021-12-31 17:18] clayscode commented on #169
It looks like the volume under the Trades VX endpoint is correct. It's just the aggregate bars that are wrong

[2021-12-31 18:16] SamuelLabrador opened #181 "/v3/reference/tickers documentation issue"
**Describe the bug**
Hi, I'm using the /v3/reference/tickers endpoint and am seeing some inconsistencies with documentation and the data being delivered.

When getting tickers for the crypto market I'm not seeing the following fields in the documentation:
- [ ] currency_symbol : String
- [ ] base_currency_symbol: String
- [ ] base_currency_name: String

Also, in the documentation, I was under the

[2022-01-03 05:42] ligrire opened #182 "Wrong Dividends Data"
**URL**
The RESTful API call you are making (please be sure to omit your API key)
https://api.polygon.io/v3/reference/dividends?ticker=EWY&apiKey=
https://api.polygon.io/v2/reference/dividends/EWY?apiKey=
**Result**
What result are getting?
v3 result:

{"results":[{"cash_amount":1.678518,"declaration_date":"2021-12-10","dividend_type":"CD","ex_dividend_date":"2021-12-13","frequency":2,"pay_date":"

[2022-01-04 16:27] Stormy110 commented on #182
Hello there, thank you for reaching out and sharing this with us! I will go in and add those missing dividends. Apologies for the inconvenience!

[2022-01-04 16:33] Stormy110 commented on #181
Hello there, thanks for reaching out and sharing this! I can make a note with my team to adjust the docs. The currency symbol is the currency that is pairing with the crypto coin, like USD or EUR. The base_currency_symbol would be the crypto symbol like BTC or ETH, and the base_currency_name would be the name of the crypto.

Cryptos do not have CIK, FIGI, or Primary exchanges so those fields are n

[2022-01-04 16:36] jrbell19 commented on #180
Thanks for posting the additional information. We are still digging into this, will circle back once I have some additional insight.

[2022-01-04 21:53] ligrire commented on #182
Thank you. I wonder why this problem arrises and whether missing dividends problem only happens on this stock or other stocks can have missing information as well? This is just one random stock I selected to check for data correctness.

[2022-01-05 08:32] chasecb opened #183 "historical options tickers"
Without a list of options tickers belonging to a given underlier at some point in the past the historical options data becomes tough to work with.

**Describe the solution you'd like**
A list all contracts for a given date in the past.

**Describe alternatives you've considered**
A reference ID type function that lists all options expirations for a given ticker within a date range so the tickers m

[2022-01-05 20:07] SwiftlyDeft commented on #172
@avikdev - the format is Javascript's representation of a large integer (could be other languages as well). What we did was store the value in an interface then convert  it into an Int. It's just how Golang parses the value. I can see why they did this because it saves space in the response.

Just as a sample we did the following:
[code]

Then on the struct we created a function like this:
`func (

[2022-01-05 22:45] gms008 commented on #41
@qrpike can you please provide an update here? It still doesn't make sense that your live and historical feeds would have different timestamps. Can you please explain why you guys have made this decision? And at least please answer the above question "Is the existing millisecond timestamp not one of the three timestamps in the historical data?". I haven't been able to find an answer for this.

[2022-01-09 17:20] FreeGoldRush opened #184 "NBBO data not available for Jan 7, 2022"
**URL**
https://api.polygon.io/v2/ticks/stocks/nbbo/TSLA/2022-01-07

All tickers fail on Jan 7, 2022

**Result**
{
 "error": "Unknown database error ( Error Code: 001 )",
 "errorcode": "001",
 "status": "ERROR",
 "success": false
}

**Expected Result**
NBBO data for the ticker given.

Further info:

This has always worked reliably.  I'm guessing this is associated with oatsreportable.finra.org DNS

[2022-01-10 08:20] http91 opened #185 "Stock list doesn't seem to be current"
**URL**
https://polygon.io/docs/stocks/get_vx_reference_tickers__ticker

**Result**
I get 404.

**Expected Result**
It seems that there's a small problem with stocks API. For instance, "HOUR" is a new stock, but when I query it, it says it can't find it via Ticker Details vX API. It's also not available in the /v3/reference/tickers list.

[2022-01-10 16:19] FreeGoldRush commented on #184
This data is now available and "Unknown database error" is no longer being returned.  Something caused the data to be missing for 3 days.  Hope you guys find the issue.  Thank you.

[2022-01-10 16:21] jrbell19 commented on #184
We are investigating the root of the issue, but have remedied the data being unavailable. Apologies for the inconvenience.

[2022-01-10 16:24] jrbell19 commented on #185
We currently do not support IPOs until the next trading session. We have plans to support upcoming IPOs, however I do not have a concrete ETA to do so.

Apologies for the confusion

[2022-01-10 16:25] jrbell19 commented on #183
We are working to support historical options contracts by the end of Q1 2022. Apologies for the inconvenience!

[2022-01-13 03:12] imzeeshan commented on #177
+1

[2022-01-13 21:50] Stormy110 commented on #182
Apologies for the delay! This should be fixed now. We have recently released an updated Dividends v3 endpoint that should have all dividends going forward. If you ever notice any other missing dividends, feel free to reach out and we can add them manually. Apologies for any inconvenience this has caused!

[2022-01-13 21:50] #182 closed

[2022-01-14 19:31] digitalml commented on #180
It's been 2+ weeks now on this.. So just wondering. Has it been fixed or is it close?

[2022-01-14 19:50] jrbell19 commented on #169
This should be fixed now. We changed the rules which exclude certain trade conditions to ensure our volume matches other platforms. We will be backfilling the historical data over the next few days.

Apologies for the confusion here!

[2022-01-14 19:50] #169 closed

[2022-01-15 18:47] AlexandroSosa commented on #26
I second this; downloading all tick data and aggregating it into 1-second bars is a lot of redundant work from a customer's perspective.

[2022-01-15 21:18] ligrire opened #186 "Crypto minute data on 2021-12-23 missing"
**URL**
(https://api.polygon.io/v2/aggs/ticker/X:ETHUSD/range/1/minute/2021-12-23/2021-12-23?adjusted=true&sort=asc&limit=120&apiKey=)

**Result**
{
 "ticker": "X:ETHUSD",
 "queryCount": 0,
 "resultsCount": 0,
 "adjusted": true,
 "status": "OK",
 "request_id": "229c3d7e3cf9d42a28f5c945d9da7901"
}

**Expected Result**
Minute data on 2021-12-23

**Additional context**
Crypto minute aggregate data fo

[2022-01-16 03:10] jamesfulford opened #187 "Scheduled Delistings"
**Is your feature request related to a problem? Please describe.**

As an algorithmic trader, I want to avoid holding securities that will be delisted the next trading day, so I can invest elsewhere.

**Describe the solution you'd like**

The /v3/reference/tickers endpoint only provides "delisted_utc" when "active=false" - only reports after-the-fact that a ticker has delisted. However, often (not

[2022-01-17 14:45] bluelu opened #188 "Dividend API v2/v3 differences: Split adjustement"
Hi,

V2 returns non split adjusted dividends, and the new API seems to return split adjusted dividends. Is this the expected behaviour?

Example:
/v3/reference/dividends?ticker=AAPL&ex_dividend_date=2020-08-07&limit=100&
-> {"cash_amount":0.205,"declaration_date":"2020-07-30","dividend_type":"CD","ex_dividend_date":"2020-08-07","frequency":4,"pay_date":"2020-08-13","record_date":"2020-08-10","tick

[2022-01-17 14:47] bluelu opened #189 "1 to 1 splits in v3 split API"
Hi,

Can I safely ignore 1 -> 1 splits? They were not present in the v2 API.

Example:
Query: /v3/reference/splits?ticker=AFL
Contains entry: {"execution_date":"2018-03-16","split_from":1,"split_to":1,"ticker":"AFL"}

Thanks
Thibaut

[2022-01-17 16:13] jrbell19 commented on #189
We're currently looking into this now. Apologies for the confusion.

[2022-01-18 05:10] gms008 commented on #41
@qrpike @jrbell19 bump

[2022-01-21 14:31] bluelu commented on #188
@jrbell19

Any update on this since you are also deprecating the old API.

There seems to be a new issues with this new API:
- The dividends are split adjusted while the old ones are not. In addition, you somehow seem to handle the splits wrongly when the split and dividend are announced or executed on the same month (see example above), or the following example:
Example: - AFL:2018-02-20 old:0.26

[2022-01-21 21:00] jrbell19 commented on #189
It turns out, this is a special case. In this instance, the split is a stock dividend payout. So for every one share owned, the owner gets an additional share. And the share price doesn't change.

It is safe to ignore these on your end, while we figure out a better way to handle this situation. Apologies for the confusion.

[2022-01-21 21:00] #189 closed

[2022-01-23 03:59] PommeVerte opened #190 "Historic Forex tick data missing"
I've noticed a lot of gaps in data. Below are a couple of the ones I can't find:

**URL**
The RESTful API call you are making (please be sure to omit your API key)
https://api.polygon.io/v1/historic/forex/USD/EUR/2022-01-12?limit=100
https://api.polygon.io/v1/historic/forex/USD/EUR/2022-01-19?limit=100
https://api.polygon.io/v1/historic/forex/USD/EUR/2022-01-20?limit=100

**Result**
I'm getting Nu

[2022-01-24 14:46] bluelu opened #191 "New Quotes API returns previous last entry in addition to new entries when using next_url"
Problem:
vX/quotes has first entry of next_url same as last entry of previous url
Example:
Any example should work, but setting limit=1 actually leads to infinite loop

api.polygon.io/vX/quotes/AAPL?timestamp=2020-10-01&limit=1
Leads to next_url:
https://api.polygon.io:443/vX/quotes/AAPL?cursor=YXA9MSZhcz0mbGltaXQ9MSZvcmRlcj1hc2Mmc29ydD10aW1lc3RhbXAmdGltZXN0YW1wLmd0ZT0yMDIwLTEwLTAxVDA4JTNBMDAlM0Ew

[2022-01-24 21:05] gms008 commented on #41
@qrpike @jrbell19

[2022-01-24 22:35] jrbell19 commented on #41
Hi @gms008 Apologies for the radio silence.

Are you referring to the single _nanosecond_ timestamp that is streamed via websocket? If so- yes, this is the SIP timestamp that is retrieved through the historic ticks endpoint.

Let me know if I'm misunderstanding the question.

[2022-01-25 17:07] gms008 commented on #41
@jrbell19

What nanosecond timestamp? The websocket is giving me a millisecond timestamp: ```[{"ev":"T","sym":"ALK","i":"52983544040775","x":10,"p":51.6,"s":100,"t":1643130166199,"q":1004533,"z":1}]```

Your documentation also says it is a millisecond timestamp: https://polygon.io/docs/stocks/ws_stocks_t
Am I completely missing something here? Wasn't this entire thread created because the streamed

[2022-01-26 17:06] jrbell19 commented on #41
@gms008 You're correct. I was on a different page, apologies for the confusion.

[2022-01-30 19:42] endoffile78 commented on #165
This is still an issue, I get CASY back 4 times.

[code]

[2022-02-01 23:22] gms008 commented on #41
@jrbell19 @qrpike Can you please provide an update on this situation? What is being worked on and what are the blockers? I think everyone would agree that a nanosecond timestamp makes way more sense than a millisecond timestamp. Nobody from your team has given a good reason why this change can't be made. @qrpike mentioned that the inclusion of 3 nanosecond timestamps would "greatly increase bandwi

[2022-02-02 13:21] bluelu commented on #188
@jrbell19 Do you have an update here? in your doc the old API is marked to stop working in 1 month?

[2022-02-03 17:04] marcel-dehaan opened #192 "No quotes on 2022-01-31"
Similar to #109
[code]
I've tested it on a couple of stocks, all have shown to only return a couple of ticks at the end of the day. Querying on date-string instead of Unix timestamp does not remedy the issue. Trades are returned as expected on 2022-01-31.

[2022-02-03 20:19] jrbell19 commented on #192
Hi! This should be resolved shortly. Apologies for the inconvenience.

[2022-02-03 21:19] #192 closed

[2022-02-04 16:00] ktayah opened #193 "Invalidly structured option symbol expiration date"
**Client**
No client, manually connecting

**Issue**
Received invalidly structured data when connecting and subscribing to a minutely option aggregate. For the stock `SDS` received
`O:SDS1220204C00003000` which contained the extra digit `1` between the underlying ticker and the `C`.

**Expected Result**
Expected to receive `O:SDS220204C00003000` (no 1 after SDS)

**Screenshots**
From website:
<img

[2022-02-04 16:49] jrbell19 commented on #193
Hi there,

This is actually the result of a corporate action, in this case, a 1-for-5 reverse stock split.

Here's the OCC memo declaring the adjustment: https://infomemo.theocc.com/infomemos?number=49850

[2022-02-04 16:49] #193 closed

[2022-02-04 21:32] Stormy110 commented on #191
Hi there, thanks for reaching out and sharing this! I will make a ticket with my team to resolve this.

[2022-02-08 02:52] jhert0 opened #194 "Decimals in some volumes"
**URL**
/v2/aggs/ticker/SNDL/range/1/multiplier/2022-02-01/2022-02-01

**Result**

Volume on this result only includes a decimal, all the other ones are integers.

[code]

I checked AAPL on the same day and there are also some in there too.

[2022-02-08 20:27] matichenor commented on #135
We are now working on a public facing-roadmap.

[2022-02-08 20:30] matichenor commented on #183
We are in progress on development of this feature.  Thank you for your suggestion!

[2022-02-08 20:50] matichenor commented on #194
All of these number formats are actually valid according to the JSON spec as documented here.

That said, can you elaborate on what problem the different number formats is causing you?  What language or mechanism are you using to interface with the polygon.io APIs?

If we understand your challenge better we might be able to address this in a client library.

[2022-02-08 20:52] matichenor commented on #191
We have created a ticket for this issue in our internal boards and plan to address it soon.

[2022-02-08 21:01] matichenor commented on #191
Internal Reference Ticket: backend/421

[2022-02-08 21:06] matichenor commented on #191
Actually, after talking to our esteemed engineering team it looks like the fix for this already went out.  Please let us know if you are still seeing the issue.

Thank you for reporting the problem to us!

[2022-02-08 21:06] #191 closed

[2022-02-08 21:20] matichenor commented on #158
Closing this ticket as it looks like a similar request to https://github.com/polygon-io/issues/issues/150.  Be sure to comment or react to the other ticket so we can track interest in the feature!

[2022-02-08 21:20] matichenor commented on #158
per above

[2022-02-08 21:20] #158 closed

[2022-02-08 21:26] matichenor commented on #150
This feature was also requested via https://github.com/polygon-io/issues/issues/158, which I have consolidated into this ticket.

[2022-02-09 00:14] endoffile78 commented on #194
Yeah, I know its valid. I just wasn't expecting floats in the volume.

I guess it's not really a problem, its just that it's inconsistent.

I'm using go and I originally had uint64 in my struct but had to change it to float64 since sometimes it returns all integers and sometimes floats are mixed in.

[2022-02-09 09:58] bluelu commented on #188
@matichenor could you please have a lookt at this? Thanks

[2022-02-09 14:21] matichenor commented on #178
Consolidating https://github.com/polygon-io/issues/issues/130 into this ticket.

**Is your feature request related to a problem? Please describe.**
Getting all stocks to consume a lot of time and I'm sure a lot of resources

**Describe the solution you'd like**
Ticker details API should allow multiple tickers in one API

**Describe alternatives you've considered**
Ticker details API should allow m

[2022-02-09 14:22] #130 closed

[2022-02-09 20:21] matichenor commented on #78
Hi @benfrankstein , I know this request has gathered some dust but I'd like to follow up with you on it.

I'm afraid I'm having a bit of difficulty understanding your request.  The `c` return values for the Trades and Aggregates websocket feeds represent different values.  For aggregates `c` represents the floating point closing price, while for c represents non-floating point trade conditions.  T

[2022-02-09 20:39] matichenor commented on #64
Hi @brianschardt , unfortunately I want to provide you with an update that the ticker change mapping feature will not make our Q1 deliveries as expected.  I am working with the polygon.io engineering team to see what we can do to get this capability delivered on a future roadmap.  We'll keep you posted.

[2022-02-09 21:16] matichenor commented on #86
We don't yet have a scheduled date for this feature, however we are still considering it for a future roadmap.  We are exploring the concept of making additional fields and granularity of timestamp optional and configurable on subscription.  The challenge we are balancing is making these changes by fiat could drive up bandwidth needs and processing costs for users, resulting in some users struggli

[2022-02-09 21:48] matichenor commented on #142
We don't have future plans to distribute simulated data.  However, you could replicate this functionality by building capturing and replaying historic data or using crypto data as suggested by Luc.

[2022-02-09 21:48] #142 closed

[2022-02-18 01:03] heydavid525 opened #195 "Delisted symbol aggregated bars have indeterministic timestamp"
**URL**
https://api.polygon.io/v2/aggs/ticker/AGN/range/5/minute/2020-02-01/2020-03-01?adjusted=false&sort=asc&limit=123&apiKey=

(AGN was delisted in May, 2020)

**Result**
If run multiple times, the resulting timestamps are different. I've received the following timestamps:

1582117980000 (February 19, 2020 8:13:00 AM EST)
1582118040000 (February 19, 2020 8:14:00 AM EST)
1582118100000 (February

[2022-02-19 12:20] mobiusstripinf opened #196 "Missing historical quotes for first 7 minutes for many symbols on Feb 18, 2022"
There seems to be missing historical quotes for the first ~7 minutes after 9:30am ET for many symbols on Feb 18, 2022.

For example, for the symbol ABBV, the first quote (after 9:30am ET) I receive has a timestamp of around 9:37am instead of shortly after 9:30am. From what I've checked briefly, this problem seems to apply to all NYSE-listed stocks, but not NASDAQ stocks, but I am not sure.

Here i

[2022-02-22 10:21] phildotc opened #197 "Extend Global Daily (Bars) to include London Stock Exchange"
I would like to be able to pull down data you currently return from the Global Daily (Bars) end point but for stocks listed on the London Stock Exchange. I can put this data down stock by stock but I would a one hit solution to get all the stock prices for the LSE for a given date.

[2022-02-22 21:52] jrbell19 commented on #197
WE do have plans to support international equities in the future, however we do not have any ETA to expect quite yet. We're working to launch our public roadmap to expose these types of efforts. I will link it here once it is available!

[2022-02-25 21:32] jrbell19 commented on #196
This was resolved as of 02/20/2022.

Apologies for the inconvenience.

[2022-02-25 21:32] #196 closed

[2022-02-25 21:37] jrbell19 commented on #195
Hi there,

I can't seem to replicate this issue. Are you seeing this behavior for any other tickers or requests?

[2022-02-25 21:38] jrbell19 commented on #190
This is a known issue. We are working on a solution to backfill this data.

Apologies for the inconvenience!

[2022-02-25 21:40] jrbell19 commented on #186
This is a known issue. We are currently working on a solution to backfill the missing data. Apologies for the inconvenience.

[2022-02-25 21:41] jrbell19 commented on #187
This is certainly something that we plan to offer in the future, however I do not have any kind of timeframe to expect.

We will be sure to follow up with updates as progress is made on this effort.

[2022-02-28 23:58] MMostavi opened #198 "Incorrect 5min with aggregate bars endpoint"
**URL**
stocksTicker = 'AMC'    # string
multiplier = 5          # int
timespan = 'minute'      # minute, day, week, month, quarter, year
_from = '2022-02-22'     # YYYY-mm-dd
_to = '2022-02-28'       # YYYY-mm-dd
adjusted = 'true'       # true or false, get adjusted or not
limit = 5000

url = f'https://api.polygon.io/v2/aggs/ticker/{stocksTicker}/range/{multiplier}/{timespan}/{_from}/{_to}?adjust

[2022-03-01 14:55] naveenrb98 opened #199 "Incorrect Financials VX data - basic_earnings_per_share (Quarterly & Annual) not matching with stock's actual EPS"
**URL**
https://api.polygon.io/vX/reference/financials?ticker=AAPL&filing_date.lt=2022-02-26&filing_date.gt=2015-02-26&timeframe=quarterly
https://api.polygon.io/vX/reference/financials?ticker=AAPL&filing_date.lt=2022-02-26&filing_date.gt=2015-02-26&timeframe=annual
**Result**
basic_earnings_per_share Q3 2020  - 2.61
basic_earnings_per_share FY 2019  - 11.97
**Expected Result**
Expected basic_earn

[2022-03-02 14:50] Stormy110 commented on #199
Hi there, thanks for sharing this information! I will make a ticket with my team to investigate these discrepancies.

[2022-03-09 14:39] matichenor commented on #183
Historic options tickers are now available!

See https://polygon.io/docs/options/get_v3_reference_options_contracts for API doc.

[2022-03-09 14:39] #183 closed

[2022-03-09 14:42] matichenor commented on #179
@ksdaftari , sorry for the delayed reply to your question!  As far as I know we built our doc solution in-house based on an underlying open-api spec.  The doc solution was coded in nodejs.

Glad you like it!

[2022-03-09 14:42] #179 closed

[2022-03-11 06:34] joshlang commented on #41
abandoning.

[2022-03-11 06:34] #41 closed

[2022-03-16 13:01] jdluker1 opened #200 "The client-js package build is failing."
**URL**
[client-js build
](https://github.com/polygon-io/client-js/runs/5542639088?check_suite_focus=true)

**Result**
The package does not install.

**Expected Result**
The package should install.

**Screenshots**
none.

**Desktop (please complete the following information):**
 - macOS

**Additional context**
Add any other context about the problem here.

[2022-03-16 13:14] matichenor commented on #200
We're taking a look now.

[2022-03-16 13:16] jdluker1 commented on #200
Thank you! If you need me to help debug or test something, just let me know.

Thanks again,
Jarrod

Jarrod Luker
***@***.***
Sent from my iMac

[2022-03-16 14:39] matichenor commented on #200
Hi @jdluker1 , the js client library itself should work fine and is accessible via npm.

The build failure you linked is just for a github documentation site.  Our API doc can be found here: https://polygon.io/docs/stocks/getting-started .

Client-specific doc can be found here: https://github.com/polygon-io/client-js

Are you seeing a functional issue with using the js client on your end?

[2022-03-16 14:52] jdluker1 commented on #200
There was no functional issue.

Yesterday I attempted to upgrade to 5.0.2 and there was only a License, package.json, and README.md file installed with the package. I attempted to back out to 5.0.1, but with the same results.

Presently... with no changes on my end, I can install the package, but I get 5.0.1 after performing `npm install --save @polygon.io/client-js`.

[2022-03-16 15:41] matichenor commented on #200
Apologies for the confusion.  We've rolled out an update, this should be resolved as of 5.0.3.

[2022-03-16 15:45] matichenor commented on #200
Issue has been fixed.  We're looking at an improvement to our CI/CD to prevent this in the future.

[2022-03-16 15:45] #200 closed

[2022-03-17 12:46] cnuernber opened #201 "Ticker information incorrect for some symbols"
**URL**
`"https://api.polygon.io/v3/reference/tickers/ULTR?apiKey={...}"`

**Result**
[code]

**Expected Result**
The ETF ULTR's list_date is 2019.  In this case it is picking the list_date for a ticker listed on a different exchange.  This breaks being able to get the history of a ticker using the agg API due to a similar issue.

[2022-03-18 18:23] mjwweb opened #203 "Crypto aggregates (bars) is returning a cut off time window"
**URL**
https://api.polygon.io/v2/aggs/ticker/X:BTCUSD/range/5/minute/2021-03-18/2022-03-18?adjusted=true&sort=asc&limit=50000&apiKey=

**Result**
The time window of the results set returns aggregates from 2021-03-18 to 2021-04-21

**Expected Result**
The time window of the results set should return aggregates from 2021-03-18 to 2022-03-18

**Screenshots**
first result (2021-03-18)
![firstAggregat

[2022-03-21 16:27] marcel-dehaan opened #204 "No quotes on 2022-03-15 and 2022-03-16"
Same issue as #192 and #109.

[code]

This issue has stark consequences for subscribers like me that leverage ticks in their live trading systems, so please address the underlying issue this time around.

[2022-03-22 13:17] matichenor commented on #203
Thanks for reporting this issue @mjwweb .  I've been able to reproduce and we are investigating the problem.

[2022-03-24 03:21] smartFunX opened #205 "Minute aggregates vw price sometimes is lower/higher than low/high"
**URL**
https://api.polygon.io/v2/aggs/ticker/SPY/range/1/minute/2022-03-23/2022-03-23

**Result**
One of the returned aggregates looks as following:
{"v":325698,"vw":448.4448,"a":446.8876,"o":445.02,"c":444.92,"h":445.1,"l":444.92,"t":1648059240000,"n":805,"op":446.91}

**Expected Result**
I'm expecting "vw" price to be within "l" "h" ranges, but here we see that it is significantly higher than "

[2022-03-28 16:25] kryali opened #206 "Options - Support Greeks after hours"
Presently, option greeks are only available during market hours. This makes it impossible to use polygon for pre/post market analysis and trade planning.

https://polygon.io/docs/options/get_v3_snapshot_options__underlyingasset___optioncontract

[2022-03-28 21:15] clickingbuttons commented on #205
Whenever we update volume according to the [CTA (page 67)](https://www.nyse.com/publicdocs/ctaplan/notifications/trader-update/cts_output_spec.pdf) and [UTP (page 43)](https://www.utpplan.com/DOC/UtpBinaryOutputSpec.pdf) specs we update VWAP (which is "vw").

Since some trades that don't update high/low (like odd lots) do update volume you can see a VWAP outside of high/low bounds. Sadly VWAP is n

[2022-03-28 21:47] smartFunX commented on #205
Odd lots supposed to be of a lower volume compared to the rest of lots. In the example I shared the odd lot volume moves the vw by 0.75% compared to the high price for that minute, which is very significant. Also it is SPY ETF that shouldn't be that much affected by odd lots?

[2022-03-29 16:09] clickingbuttons commented on #205
In practice this isn't always the case. The SEC has a study that [shows odd lot trades for the top decile of stocks contribute to 22% of the total volume.](https://www.sec.gov/marketstructure/datavis/ma_stocks_oddlotvolume.html)

It's not just odd lot trades that update volume but not high/low. It's also these conditions:
- Bunched Sold Trades
- Price Variation Trade
- Next Day
- Seller
- Form T
-

[2022-03-29 20:28] bluelu opened #207 "Missing entries for some stocks in Tickers v3 API"
Hi

I am using the v3/reference/tickers API to fetch all symbols traded on a given exchange on a given date. I observed some weird behaviour, where some stocks go missing from one day to the other, then reappearing again.

For reference, consider the Yahoo stock on 2010-07-22 until 2010-07-24:
- Non-empty response from v3/reference/tickers?market=stocks&exchange=XNAS&ticker=YHOO&date=2010-07-22&ap

[2022-04-06 00:52] awentzonline opened #208 "SPY minute agg request seems to be missing bars"
**URL**
The RESTful API call you are making (please be sure to omit your API key)
https://api.polygon.io/v2/aggs/ticker/SPY/range/1/minute/1649089800000/1649113200000?adjusted=true&sort=asc&apiKey=

**Result**
Bars appear to be missing. For example, here are the timestamps from the tail end of the results. (year, month, day, hour, minute) There are gaps of several minutes between some of these tim

[2022-04-06 19:15] matichenor commented on #188
Hey, @bluelu , sorry but I missed the notification on this thread.  I'm asking our eng team to step in and take a look.  They should be able to clarify on adjust vs un-adjusted split dividends.

[2022-04-06 20:55] jrbell19 commented on #188
@bluelu So sorry we missed this. Just so we understand the issue at hand here:

Could you elaborate on what you're expecting to see? Both v2 and V3 return the cash amount as ".26" for the dividend paid on March 3rd, 2018. I am seeing some discrepancies between the dates returned, is this what you're referring to?

[2022-04-07 02:13] awentzonline commented on #208
Oh yeah that was my problem. Thank you!

[2022-04-07 02:13] #208 closed

[2022-04-07 07:33] bluelu commented on #188
There is a "2 for 1" split of AFL on March 19 2018, after the dividends are paid.

Based on testing, it seems that v2 dividends are not split adjusted. V3 seems to be (even though your documentation doesn't mention it).

So in this specific case and for that dividend, the values should be different. But they are equal which goes against the logic of how you return previous dividends. It would be h

[2022-04-14 17:13] timothyareed opened #209 "Allow the Snapshot Options API to select multiple tickers"
**Is your feature request related to a problem? Please describe.**
In a previous feature request, the Snapshot API was enhanced to allow users to pull snapshots for multiple stocks with one request.
see previous request #29. However, this did not carry over to the options snapshot API.

**Describe the solution you'd like**
Let's say I want to get the Options Snapshot for the following contracts:
U

[2022-05-05 13:13] danlim-wz opened #210 "Historical queries for the Snapshot Options API"
**Is your feature request related to a problem? Please describe.**
Currently, the Snapshot Options API only displays the current state and not the historical states of an option contract. Knowing historical states are vital for strategy formulation/backtesting & powering of option chain analytical dashboards.

(1) Historical `open_interest` is currently not available. Knowing the change in the dai

[2022-05-12 01:37] Domini commented on #209
To put this into perspective, lacking this functionality, one has to do up to 8312 separate API queries for SPY.

On the other hand, returning 8312 elements (full option chain without any filtering) would be both an overkill for the client and waste resources for polygon.io.

I think @timothyareed's idea of allowing to pass multiple options contracts would be the most flexible solution.

I think {

[2022-05-12 02:00] Domini opened #211 "Options references to some underlyings are broken"
**URL**
https://api.polygon.io/v3/snapshot/options/LGF.A/O:LGFA221216P00005000
https://api.polygon.io/v3/snapshot/options/LGFA/O:LGFA221216P00005000
https://api.polygon.io/v3/snapshot/options/LGF/A/O:LGFA221216P00005000

**Result**
"underlying_asset": {}

**Expected Result**
"underlying_asset": {
   "change_to_break_even": 23.123999999999995,
   "last_updated": 1636573459862384600,
   "price": 147

[2022-05-12 02:58] lvnfg opened #212 "Same request to Forex Aggregates endpoint returns 2 different results randomly"
**URL**
https://api.polygon.io/v2/aggs/ticker/C:EURUSD/range/1/minute/2021-12-30/2022-01-31?adjusted=true&sort=asc&limit=50000

**Result**
Randomly returns either 32855 or 31415 records

**Expected Result**
Returns the same number of records each time

**Screenshots**
![image](https://user-images.githubusercontent.com/25565516/167982705-459679d7-81d1-4961-b41c-95047370b640.png)

**Desktop (please

[2022-05-13 16:18] jrbell19 commented on #212
Thanks for bringing this to our attention. We'll investigate and will circle back with some information.

Apologies for the confusion!

[2022-05-19 14:28] #195 closed

[2022-05-25 02:43] heydavid525 opened #213 "Missing SPY Option Data"
**URL**
https://api.polygon.io/v2/aggs/ticker/O:SPY220520C00403000/range/1/day/2022-03-20/2022-03-28?adjusted=true&sort=asc&limit=118

**Result**
{
 "ticker": "O:SPY220520C00403000",
 "queryCount": 0,
 "resultsCount": 0,
 "adjusted": true,
 "status": "OK",
 "request_id": "f4e56309d79dda92350d608871cf9415"
}

**Expected Result**
There's no bar returned. Does it mean that there was no trades on this

[2022-05-25 18:14] jrbell19 commented on #213
@heydavid525, It looks like there were no trades that have taken place for this contract during this time period. If you change the timespan to "month", you can see the total volume for March was only 5 contracts.

I hope this clears things up! Please let us know if you see anything else out of the ordinary.

[2022-05-25 18:14] #213 closed

[2022-05-29 23:14] jbabyhacker opened #214 "Missing quotes for 2022-05-26"
**URL**
Stock Quotes API
https://api.polygon.io/v3/quotes/SPY?timestamp=2022-05-26&order=asc&limit=50000

**Result**
Missing a lot of quotes on 2022-05-26. On this day, there were 11,201 tickers that had trades occur on them, but only 2,712 tickers had quotes for them. Popular tickers such as AAPL and SPY have no quotes for example.

**Expected Result**
Expect number of tickers that have quote dat

[2022-06-02 15:36] eqTom opened #215 "Duplicate Rows in Returned Forex Data & Overflow"
**URL**
https://api.polygon.io/v2/aggs/ticker/C:AUDUSD/range/1/minute/2022-05-01/2022-05-31?unadjusted=true&sort=asc&limit=50000

**Result**
Query of 1 min Forex data (such as C:AUDUSD), is returning the same timestamp/data twice within the response, which also means some data is chopped, as the total monthly minuets then overflow the limit of 50,000 rows.

As an example screenshot below, you can

[2022-06-04 15:56] jbabyhacker commented on #214
Resolved.

[2022-06-04 15:56] #214 closed

[2022-06-13 12:41] bluelu commented on #188
@jrbell19
It seems that in the new API the dividends are always split adjusted in V3, but not in V2.

Is this the intended behaviour? If yes, can you add this to your migration notes?

[2022-06-13 14:06] bluelu commented on #188
According to support, the dividends are split adjusted now.

[2022-06-13 14:06] #188 closed

[2022-06-13 16:34] jbabyhacker opened #216 "No SPY option trades between from 2022-05-23 to 2022-06-10"
**URL**
All SPY option trades inclusive between 2022-05-23 through 2022-06-10
https://api.polygon.io/v3/trades/O:SPY...

**Result**
A response with no results, but with status "OK"

**Expected Result**
Actual trade data or an error indicating why it isn't there.

**Additional context**
SPY option trade data is available inclusive 2022-05-02 through 2022-05-20, but after the 20th, no more SPY optio

[2022-07-03 07:16] ivan416 commented on #64
Any updates on this feature? Thanks in advance.

[2022-07-07 20:42] CatalaniCD opened #217 "I'm using Websocket.Trades for 4096 tickers at the same time, after 20 minutes I start to receive messages with 10 seconds delay."
**Client**
I'm using : https://polygon.io/docs/stocks/ws_stocks_t#Trades

**Issue**
I'm using Websocket.Trades for 4096 tickers at the same time, after 20 minutes I start to receive messages with 10 seconds delay.

**Expected Result**
The expected result is to receive all available trades with the least delay possible and below 1 second delay

**Desktop (please complete the following information):

[2022-07-08 11:35] jbabyhacker opened #218 "Repeated Options Snapshot calls return different open_interest values"
**URL**
https://api.polygon.io/v3/snapshot/options/SPY/O:SPY220708C00401000

**Result**
When querying the option contract snapshot, the open_interest is inconsistent. Below I have printed out responses to the above URL (querying every 15 seconds) where the first column is the timestamp in New York time and the second column is the open_interest. There is a roughly 25 minute period where open_inter

[2022-07-23 22:49] mbvg1 opened #219 "400 Err"
I am getting an error: 400 ERR     {"status":"ERROR","request_id":"xxxxxxxxxxxxxxxxxx","error":"API Key was not provided"} Anyone have an idea how to solve this? We added the api key and tried multiple times with multiple api keys. Thanks!

[2022-07-24 05:06] stopdesign commented on #215
Not only Forex data. Stocks as well.
https://api.polygon.io/v2/aggs/ticker/URA/range/1/minute/1658393040000/1658393100000

[code]

[2022-08-05 10:36] fingoldo commented on #83
Also really wishing you would have this capability of dividends adjustment.

[2022-09-11 22:41] herebebeasties commented on #207
FWIW `https://api.polygon.io/v3/reference/tickers?market=stocks&ticker=YHOO&date=2010-07-23&apiKey=*` has `YHOO`, but without the `primary_exchange` set (which is why your filtered view is missing it).

[2022-09-12 15:28] mbvg1 opened #220 "Polygon only provides two decimal spaces vs TD Ameritrade 4"
**Is your feature request related to a problem? Please describe.**
The problem is that when we automate api trading we will set a limit order at (example)ask of 24.42 and Ameritrade will have an ask price of 24.4233 which is above the polygon price so our orders are often not filled.

**Describe the solution you'd like**
Polygon should provide 4 decimals like TDA

**Describe alternatives you've co

[2022-09-14 14:14] herebebeasties commented on #176
This data is still missing, 9 months after this bug report. Any chance of fixing this?

[2022-09-20 18:20] Stormy110 commented on #219
Hi there, apologies for the delay! What was the specific request that you tried to send?

[2022-09-20 18:21] Stormy110 commented on #218
Hi there, apologies for the delayed response! We update open interest data from OPRA every day at 6 AM EST. Are you still having this issue?

[2022-09-20 18:23] Stormy110 commented on #215
Hi there, apologies for the delayed response! These duplicates should be resolved. Please let us know if you continue to see any errant behavior!

[2022-09-22 16:38] Stormy110 commented on #217
Hi there, apologies for the delay! Typically a delay or disconnect means the data isn’t being consumed fast enough. There is a server-side buffer and if it fills the connection will be delayed and eventually killed. The best way to mitigate this is to read the packets off of the network and immediately put them into a queue. Have a separate thread which is parsing the messages and running any logi

[2022-09-22 16:44] Stormy110 commented on #216
Hi there, apologies for the delay! Are you still not able to see any SPY option trades during that time? I am able to query SPY trades for this contract on 05-23-2022 - https://api.polygon.io/v3/trades/O:SPY220523C00400000?timestamp=2022-05-23&apiKey=***

[2022-09-22 16:47] jbabyhacker commented on #216
Not sure, I have changed my subscription since then.

[2022-09-24 11:03] flux77 commented on #7
@jrbell19
Wasn't this issue was fixed in July 2022?
https://polygon.io/blog/otc-stocks/

[2022-09-24 11:16] flux77 opened #221 "OTC stocks: distinguish between Expert Market stocks and other OTC tiers"
**Is your feature request related to a problem? Please describe.**
When I use the Ticker Details endpoint ( `/v3/reference/tickers/{ticker}`) for an OTC ticker, there is no information about which OTC tier the ticker belongs to. The most important missing information is whether or not the given ticker trades on the OTC Expert Market. This information is important because trading in Expert Market s

[2022-09-26 14:01] clickingbuttons commented on #7
Yes, we have OTC data in all our stock endpoints (see [this blog post](https://polygon.io/blog/otc-stocks/)). Closing.

[2022-09-26 14:01] #7 closed

[2022-10-06 16:21] jrbell19 commented on #209
This is something that we are currently working on. We understand the necessity to have this. We'll provide updates as they are available.

Jack Bell
Head of Business Development
***@***.***​

https://polygon.io​​

www.linkedin.com/in/jack-polygonio

--- original message ---
On October 6, 2022, 10:04 AM EDT ***@***.*** wrote:

A lot of programmatic use cases scan full chains across large universe

[2022-11-04 22:07] bhendrickson opened #224 "Dividend history for Altria (MO) omits the dividend of a share of PM"
**URL**
https://api.polygon.io/v3/reference/dividends?ticker=MO&limit=1000

**Result**
The call's response shows only small cash dividends for 2008. The response has no indication that a large dividend, worth most of the value of the company, was also paid.

**Expected Result**
Some indication that the large share dividend was paid.

**Context**
In March of 2008, Altria (MO) spun off its internati

[2022-11-04 22:11] bhendrickson commented on #224
The documentation for the API does say the dividend returns the "cash dividends," so perhaps this is a feature request as opposed to a bug report. But if there really is no way to find information about companies being spun off or other non-cash dividends, that seems like a sizable issue...

[2022-11-12 18:59] gms008 opened #225 "Can't get more than 150000 historical trades per day"
**URL**
https://api.polygon.io/v3/trades/SPY

**Result**
`next_url` has results for the first two calls only. This yields only 150000 trades per day using the 50000 limit per call

**Expected Result**
should get all trades for the trading day

**Desktop (please complete the following information):**
 - OS: Ubuntu 21.04

**Additional context**
Add any other context about the problem here.

[2022-11-12 19:01] gms008 commented on #225
nvm

[2022-11-12 19:01] #225 closed

[2022-11-26 13:51] MarkLisoway opened #226 "Aggregates (Bars) returns JSON with unquoted NaN"
**URL**
v2/aggs/ticker/AFMC/range/1/minute/1669383571791/1669469971791?adjusted=true&limit=50000&sort=asc&apiKey=*

**Result**
[code]

**Expected Result**
I expect the `NaN` value to be in quotes ie. `"NaN"`. Even the markdown editor detects an issue, and sites like [https://jsonformatter.org/json-pretty-print](https://jsonformatter.org/json-pretty-print) fails to format the JSON due to the unquot